{{> head }}
{{> navbar }}

<div class="row">

    <div class:"col-8">
        <h1>Capitan Minion</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem distinctio minus recusandae! Aut quasi nemo minus nostrum, omnis amet, id consectetur necessitatibus, accusantium in quaerat aspernatur incidunt consequuntur voluptate a.</p>

    </div>

    <div class="col-4">
        <img src="assets/img/img2.png" class="img-thumbnail">
    </div>

</div>

{{> footer }}